
#ContenidoElectronico, #ContBic,#ContInd,#ContMueble,#ContOtro{
    display: none;
    width: 65%;
    margin: auto;
    background-color: hsla(157, 2%, 61%,.3);
    padding: 1.5%;
    box-shadow: 13px 10px 20px 2px rgba(0,0,0,0.58);
    font-size: 1.4rem;
}
.btn{
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    background-color:rgba(0, 0, 0, 0);
    margin-top: 1.5%;
    border: none;
    padding: 1.5%;
}
.btn:hover{
    color: #ffbb00
}
.Categorias a, .Categorias label,.Categorias>ul>li>section>input {
    color:gainsboro;
    margin: 2%;
}
.Categorias>ul>li>section>input {
    color:rgb(0, 0, 0);
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    
   
    text-align: initial;
    text-rendering:auto;
    font-size: 20px;
}
#accesorio{
    display: none;
    margin: auto;
}
#txtOtro{
    width: 100%;
    max-width: 450px;
    min-width: 150px;
    height: 100px;
    max-height: 400px;
    min-height: 50px;
    font-size: 20px;
}
.bxElec, .bxBic{
    width: 90%;
    min-width: 20%;
}
label{
    font-size: 20px;
    width: 2%;
    color: black;
    margin: 0;
}
#SI,#NO{
    margin: 0;
    width: 20px;
}
.Operacion label{
    color: gainsboro;
}
