:root{
    --amarillo: #ffbb00;
    --fondo: #2b2b2b;
}

* {
    margin:  auto;
    padding:  0;
    box-sizing: border-box;
   
    
}

body{
    background: var(--fondo);
    font-family: 'Anton', sans-serif;
    width: 85%;
    margin: auto;
    
}
main{
    margin-top:7rem;
}

.cont{
    width:  90%;
    margin: auto;
    
    
}

.crear{
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: auto;
    
}

.crear .nuevo{
    color: rgb(223, 223, 223);
    font-family: 'DM Mono', monospace;
    font-size: 24px;    
    
    
    
}

.crear .nuevo input{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    
   
    text-align: initial;
    text-rendering:auto;
    font-size: 20px;
}

.crear .bt{
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 170%;
    background-color: #ffbb00;
    margin-top: 2%;
    width: 27%;
    margin-right: auto;
    margin-left: auto;
}

.Formulario{
   font-size: 25px;
   align-items: center;
   
}

.tit{
    display: flexbox;
    margin: auto;
    color: rgb(255, 187, 0);    
    margin: 30px;
    margin-block-end: auto;
}


#rbVenta,#rbCanje{
    position: relative;
    display: inline-block;
    top: 5px;
    width: 20px;
    height: 20px;
        
}
.cont input[type=text],input[type=number]{
    width: 50%;
    height: 3%;
    padding: 1.3%;
    margin: auto;
}
#bxVenta,#bxCanje{
    display: none;
    width: 30%;
    height: 5%;
}

.txtOtro{
    width: 70%;
    height: 20%;
    max-width: 100%;
    min-width: 30%;
    max-height: 55%;
    min-height: 15%;
    font-size: 1.3rem;
    display: none;
}
#Pesos{
    font-size: 1.3rem;
    color:gainsboro;
    display: none;
}

.Info .titu{
   
   color: rgb(255, 187, 0);
    margin: 2%;
    font-size: 1.8rem;
    margin-block-end: auto;
    
    margin-left: 40%;
}
.efecto .Relleno{
    color: white;
    align-content: center;
    font-size: 16;
    text-transform: none;
}


.efecto{
    
    color: rgb(255, 187, 0);
    margin: 2%;
    font-size: 1.8rem;
    margin-block-end: auto;
    
    
    -webkit-transition: all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    transition: all 500ms ease-out;
 
}
.efecto:target{
    height:50%;
}
