.Contenedor{
    max-width: 80%x;
}

@media screen and (max-width: 800px)
{
    .main{
        width: 100%;
        
    }
    .top{

        width: 100%;
        font-size: 1rem;;
    }
    .title{
       
        font-size: 1.7rem;
    }

    .crear .bt{
        
        font-size: 150%;
        
        margin-top: 2%;
        width: 40%;
    }
    h1{
        font-size: 2.5rem;
        color: red;
    }
    
    .header{
        width: 100%;
        background-color: red;
    }
}
